#busca-cpf-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  #busca-cpf-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #busca-cpf-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    #admissao-dados {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      .icon-prefix {
        display: flex;
        align-items: center;
        gap: 25px;
        width: 100%;

        & > .text-content {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

