<header class="main-header">
  <section class="header-title">
    <h4>{{ (headerService.title | async ) | uppercase }}</h4>
    <label class="text-subtle">{{ headerService.breadcrumbs | async }}</label>
  </section>

  <section class="user-actions">
    <fa-icon [icon]="['far', 'bell']" size="2x" [fixedWidth]="true" class="text-primary"></fa-icon>

    <span class="action-pill">
      <h6 class="text-bold">VIACREDI</h6>
    </span>

    <span class="user-image" ngbTooltip="Criado por Douglas Tomacheski" placement="start">
    </span>
  </section>
</header>
