<aside class="sidebar-menu">
  <a href="#" class="aielo-logo" [routerLink]="['/']" title="Voltar para a Home"
    placement="end" ngbTooltip="Voltar para a Home">
  </a>

  <button class="clear">
    <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
  </button>

  <button class="clear">
    <fa-icon [icon]="['fas', 'search']" size="2x"></fa-icon>
  </button>

  <button class="clear">
    <fa-icon [icon]="['fas', 'star']" size="2x"></fa-icon>
  </button>

  <button class="clear">
    <fa-icon [icon]="['fas', 'comment-dots']" size="2x"></fa-icon>
  </button>

  <button class="clear">
    <fa-icon [icon]="['fas', 'landmark']" size="2x"></fa-icon>
  </button>
</aside>

