@import "colors";
@import "typography";

button {
  padding: 6px 25px;
  border-radius: 4px;
  border: 0px;
  font-size: 14px;

  &.clear {
    padding: 0px;
    color: inherit;
    border: 0px;
    background: transparent;
  }

  &.primary {
    &:not(.outline) {
      @include primary-container;
    }

    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $semibold-weight;
    transition: 0.1s all ease-in;

    &.large {
      font-size: 16px;
      padding: 13px 25px;
    }

    &.outline {
      @include primary-outline-container;
      background: transparent;
    }

    &:not(:disabled) {
      &:hover {
        background-color: var(--bs-blue-140);
        color: var(--bs-white);
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
