@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

* {
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: 'Exo', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-weight: 700;
}
