@import "colors";

$inactive: var(--bs-gray-300);
$active: var(--bs-primary);

.stepper {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 111px;
  }

  &-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    width: 182px;

    .stepper-sphere {
      z-index: 15;
      width: 18px;
      height: 18px;
      background-color: $inactive;
      border-radius: 100px;
    }

    .stepper-line {
      z-index: 10;
      position: absolute;
      width: 98px;
      height: 2px;
      background: var(--bs-gray-300);

      &.prev {
        transform: translate(-42px, -18px);
      }

      &.next {
        transform: translate(42px, -18px);
      }
    }

    .stepper-title {
      font-size: 14px;
    }

    &.active {
      .stepper-sphere {
        background: var(--bs-background);
        border: 2px solid var(--bs-primary);
      }

      .stepper-line {
        &.prev {
          background: var(--bs-primary);
        }
      }
    }

    &.visited {
      .stepper-sphere {
        background: var(--bs-primary);
      }

      .stepper-line {
        &.prev {
          background: var(--bs-primary);
        }

        &.next {
          background: var(--bs-primary);
        }
      }
    }
  }
}
